.refresh{
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: var(--first-color);
}
.refresh .icon.active{
    
    animation: rotate-refresh 1s linear infinite alternate;
}
@keyframes rotate-refresh {
    0% {
        transform: scale(1.1) rotate(45deg);
    }
    20%{
        transform: scale(1.1) rotate(90deg);

    }
    50%{
        transform: scale(1.1) rotate(145deg);

    }
    65%{
        transform: scale(1.1) rotate(180deg);

    }
    75%{
        transform: scale(1.1) rotate(240deg);

    }
    89%{
        transform: scale(1.1) rotate(340deg);

    }
    100%{
        transform: scale(1.1) rotate(0deg);

    }
}