.not_body{
    width: 80%;
    height: 400px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
    box-shadow: 2px 5px 15px #000000;
    border-radius: 10px;
    overflow: hidden;
}
.not_body:hover{
    overflow: hidden scroll;
}
.notification_wrapper{
    padding: 20px;
}

@media screen and (max-width:636px){

    .not_body{
        width: 300px;
        height: 300px;
        display: flex;
        text-align: center;
        margin-left: 15px;
        box-shadow: 2px 5px 15px #000000;
        border-radius: 10px;
        overflow: hidden;
    }

}