.password_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}
.password_wrapper form{
    width: 300px;
    padding: 20px 10px;
    box-shadow: 2px 5px 15px #000000;
    border-radius: 10px;
}
.password_wrapper input{
    padding: 10px 5px;
    margin: 10px;
    width: 200px;
}
.note_add textarea{
    height: 100%;
    resize: none;
}
.note_add button{
    padding: 10px 20px;
    cursor: pointer;
    background: var(--first-color);
}
.password_wrapper .form_submit_btn{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--first-color);
    color: #fff;
    padding: 10px 5px;
    border-radius: 10px;
    cursor: pointer;
}