.footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    border-bottom: 2px solid #333;
    justify-content: space-between;
}
.footer::after{
    content: 'Copywrite c 2022 GivLaw All rights reserved.';
    display: flex;
    justify-content: center;
    color: var(--first-color);
    height: 50px;
    width: 100%;
}
.footer_logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.footer h1{
    margin-right: 10px;
}
.footer_links{
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    margin: 10px 10px;
}
.footer_links .footer_link{
    color: var(--first-color);
}
.logo {
   
    width: 48px;
    height: 48px;
    background: var(--first-color-lighter);
    border-radius: 12rem 12rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
  
  
  }
  .logo:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  .logo h1{
    font-size: var(--h1-font-size);
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transform: translateX(5px);
    color:var(--first-color-second);
  }

@media screen and (max-width:636px){
    .footer{
        display: flex;
        width: 100%;
        border-bottom: 2px solid #333;
        justify-content: space-between;
        flex-direction: column;
    }
}